@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-base: #050a30;
  --color-botones: #233dff;
  --color-oscuro: #131018;
  --color-claro: #f4f6fc;
  --color-gris-footer: #18161a;
  --color-gris-claro: #7e7d7f;
}

body {
  font-family: "Geologica", sans-serif;
  font-weight: 400;
}

.btn {
  display: inline-flex;
  background-color: var(--color-botones);
  color: white;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 0.5em;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.5em 1em;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.btn:hover {
  background-color: var(--color-base);
  color: var(--color-claro);
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.header {
  background-color: #050a30;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}

.header__nav {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header__h1 {
  color: #fff;
  padding-left: 1rem;
}

.header__ul {
  padding-right: 1rem;
}

.header__li {
  display: inline-block;
  padding: 0px 1rem;
}

.header__li a {
  font-weight: 400;
  color: var(--color-claro);
  transition: color 0.3s; 
}


.header__li a.active {
  font-weight: bold;
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 4px;
}


.header__li-btn {
  display: inline-flex;
  background-color: var(--color-botones);
  color: white;
  border-radius: 0.5em;
  font-size: 1em;
  transition: all 0.3s ease;
  padding: 0.5em 1em;
}

.header__li-btn:hover {
  background-color: var(--color-base);
  color: var(--color-claro);
}

.user-avatar {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  cursor: pointer;
  
}

/* FOOTER */
.footer {
  background-color: var(--color-gris-footer);
  color: var(--color-claro);
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.columna_footer li,
a {
  color: var(--color-claro);
  font-weight: 200;
  line-height: 1.5em;
}

.columna_footer a:hover {
  text-decoration: underline;
  color: var(--color-botones);
}

.columna_footer p,
.columna_footer-redes p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.redes__footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: .2em;
}

.redes__footer img {
  width: 1.5em;
}

.copyright {
  text-align: center;
}


.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 0.5em;
}

.success-message {
  color: green;
  font-size: 0.9em;
  margin-top: 0.5em;
}


.favorite-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  color:rgb(240, 7, 7);
  cursor: pointer;
  transition: color 0.3s;
}

.pelicula {
  position: relative;
}


.hidden {
  display: none;
}


@media (max-width: 768px) {
  .header {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1em;
  }

  .header__nav {
    margin: 0.1em;
  }

  .header__h1 {
    margin-top: 0.5em;
  }

  .header__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 0.5em;
  }

  .header__li {
    margin-top: 0.5em;
  }

  .header__li-btn {
    padding: 0.3em 0.7em;
    white-space: nowrap;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.5em;
  }

  

  .footer {
    gap: 1em;
    padding: 1em;
    background-color:#18161a;
    color: white;
  }

  .columna_footer {
    text-align: center;
  }
}

